h2,h3,h5{
    font-family: 'Noto' !important;
    
}

p{
    font-family: 'Sora' !important;
    color: black;

}

body{
    background-color: #93a8ac;
}

.bg-nav{
    background-color: #060622;
}

.blanco{
    color: white;
}



.nav-link{
    color: white;
}

.nav-link:hover{
    color: #4f46e5;
}

.titulo{
    font-size: 18px;
}

.badge-size{
    font-size: 0.9rem;
}

.card-border-radius{
    border-radius:12px;
}

/* Contenedor del botón para que no ocupe toda la altura */
.custom-carousel-btn {
    width: 60px; /* Ajusta el ancho del área de clic */
    opacity: 1;  /* Para que no se vea semitransparente */
}

/* La caja blanca con borde y sombra */
.control-box {
    background-color: #ffffff;
    border: 1px solid #dee2e6; /* Borde sutil gris */
    border-radius: 8px;        /* Bordes redondeados */
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease; /*es una transición->animación*/
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Cambiar el color de la flecha de blanco a negro */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1) grayscale(100%) brightness(0);
    width: 25px;
    height: 25px;
}

.control-box:hover{
    background-color: #f8f9fa;
    border: #000;
}